body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
}

.cliicked {
  color: tomato;
  transition: color 0.5s ease-in;
}

.lee_font {
  font-family: "Courier New", Courier, monospace;
}
